<div class="d-flex justify-content-center w-100">
  <section class="w-25">

  </section>
  <div class="w-50">
    <mat-stepper>
      <mat-step>
        <ng-template matStepLabel>Step 1</ng-template>
        <ng-template matStepContent>
          <app-step1></app-step1>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Step 2</ng-template>
        <ng-template matStepContent>
          <app-step2></app-step2>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Step 3</ng-template>
        <ng-template matStepContent>
          <app-step3></app-step3>
          <button mat-button matStepperPrevious>Back</button>
        </ng-template>
      </mat-step>
    </mat-stepper>
  </div>
</div>
