:host::ng-deep .ag-header-row {
  background: #E3E6F0 !important;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #5E667D;
}

:host::ng-deep .ag-cell{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #283453;
}
